{% extends "bootstrap/base.html" %}

{% block content %}
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li></li>
        </ul>
        <h3 class="text-muted">ChulesAndHoney</h3>
      </div>
      <div class="jumbotron">
        <h1>Hi, I'm Chules...</h1>
        <p class="lead">...and my cat's name is honey.</p>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <a href="https://fbcdn-sphotos-b-a.akamaihd.net">
              <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/1604783_10153958800385188_1817551054_n.jpg" class="img-rounded">
            </a>
          </div>
          <div class="span4">
            <a href="https://scontent-b-sjc.xx.fbcdn.net">
              <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc3/t1.0-9/10009820_10201985872264788_2131188237_n.jpg" class="img-rounded">
            </a>
          </div>
        </div>
      </div>

      <div class="footer">
        <p>&copy; ChulesAndHoney 2014</p>
      </div>

    </div>
{% endblock %}
